::-webkit-scrollbar {
  width: 0px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
  /*background: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(194, 194, 194, 0.5);
}

.groups__img {
  width: 13.5rem;
  display: inline-block;
}

@media (max-width: 575px) {
  .groups {
    margin: 0 -5px;
  }
  .groups [class*=col-] {
    padding: 0 5px;
  }
  .groups .groups__item {
    margin-bottom: 10px;
  }

  .groups__img {
    width: 6.5rem;
    display: inline-block;
  }
}


.btn-trans {
  background-color: transparent;
  color: #ffffff;
}
.btn-trans:hover {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: none;
  color: #ffffff;
  cursor: pointer;
}
.btn-trans:active, .btn-trans.active, .show > .btn-trans.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0.45);
}

.table th, .table td {
    vertical-align: middle;
}