{% extends 'webapp/base.html' %}
{% load humanize %}

{% block header %}
<title>AIOFlipper |Dashboard</title>

<link rel="stylesheet" href="/static/scss/inc/widgets/_quick-stats.scss">
{% endblock %}

{% block content %}

<!-- Widget QuickStats -->
<div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info" id="quickstats-widget-total-value">
                <h2>Loading..</h2>
                <small>Total Value</small>
            </div>

            <div class="quick-stats__chart peity-bar">6,4,8,6,5,6,7,8,3,5,9</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info" id="quickstats-widget-cash-value">
                <h2>Loading..</h2>
                <small>Cash Value</small>
            </div>

            <div class="quick-stats__chart peity-bar">4,7,6,2,5,3,8,6,6,4,8</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info" id="quickstats-widget-items-value">
                <h2>Loading..</h2>
                <small>Items Value</small>
            </div>

            <div class="quick-stats__chart peity-bar">4,7,6,2,5,3,8,6,6,4,8</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info" id="quickstats-widget-sales-today">
                <h2>Loading..</h2>
                <small>Sales Today</small>
            </div>

            <div class="quick-stats__chart peity-bar">4,7,6,2,5,3,8,6,6,4,8</div>
        </div>
    </div>
</div>
<!-- /Widget QuickStats -->

<!-- Break line -->
<hr>
<br>
<!-- /Break line -->

<!-- Profit chart -->
<div id="profit-chart" style="width:100%; height:400px;"></div>
<!-- /Profit chart -->

<!-- Break line -->
<br>
<hr>
<br>
<!-- /Break line -->

<!-- Sales chart -->
<div id="sales-chart" style="width:100%; height:600px;"></div>
<!-- /Sales chart -->

{% endblock %}

{% block footer %}
<footer class="footer">
    <p>© AIOFlipper by Skagoo. All rights reserved.</p>

    <!-- <ul class="nav footer__nav">
        <a class="nav-link" href="https://github.com/"><i class="zmdi zmdi-github"></i></a>

        <a class="nav-link" href="https://stackoverflow.com/users/5530975/s-van-den-wyngaert"><i class="zmdi zmdi-stackoverflow"></i></a>
    </ul> -->
</footer>
{% endblock %}

{% block scripts %}
<script src="/static/js/inc/actions.js"></script>

<script src="/static/demo/js/other-charts.js"></script>
<script src="/static/vendors/bower_components/peity/jquery.peity.min.js"></script>

<!-- Highcharts -->
<script src="/static/highcharts/highcharts.js"></script>
<script src="/static/highcharts/themes/dark-unica.js"></script>
<script src="/static/highstock/modules/stock.js"></script>
<script src="/static/highstock/themes/dark-unica.js"></script>

<script src="/static/highcharts/highcharts-more.js"></script>
<!-- /Highcharts -->

<!-- Custom Scripts -->
<script src="/static/js/custom.js"></script>
<!-- /Custom Scripts -->
{% endblock %}